.home-container {
    position: relative;
    padding: 0px 30px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin-left: 250px;  
}

.welcome-box{
    background-color: #78d133;
    color: #003d00;
    margin-bottom: 70px;
    padding: 35px 40px;
    border-radius: 10px;
}

.welcome-box h2{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}

.welcome-box p {
  font-size: 18px;
}

.horario{
    border: 1.5px;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

.schedule-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0033cc;
    margin-bottom: 20px;
}

.see-all {
    display: flex;
    align-items: center;
    gap: 15px;
    color:#000;
}

.see-all-arrow {
    font-size: 18px;
    color: #0033cc;
    align-items: center;
    display: flex;
}

.schedule-header h3 {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
}

.schedule-header p{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.class-card {
    display: flex;
    align-items: center;
    border-radius: 0px;
    padding: 10px 15px;
    margin-bottom: 15px;
    position: relative;
}

.class-card:hover{
    background-color: #f1f4ffcf;
    border-radius: 6px;
}

.time {
    min-width: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: #cfdcff; 
    padding: 30px 50px;
    border-radius: 1px;
    text-align: center;
}

.info {
    flex: 1;
    margin-left: 20px;
}

.info strong {
    display: block;
    margin-bottom: 5px;
}

.room-change {
    color: #e74c3c;
    font-size: 14px;
}

.arrow {
    font-size: 20px;
    color: #0033cc;
    position: static;
}
