/* Página geral */
.pagina-mapa {
  margin-left: 250px;
  padding: 100px 40px 100px;
  background-color: #f1ecec;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Cabeçalho do título - reutilizado */
.upload-mapa-header {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.upload-mapa-header h2 {
  font-size: 50px;
  color: #0033a0;
}

.linha-azul {
  height: 3px;
  width: 120px;
  background-color: #0033a0;
  margin: 0 auto 20px;
  border-radius: 5px;
}

/* Wrapper que simula o cartão do upload */
.mapa-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Estilo direto do mapa */
.mapa {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
